
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");

.movie-card {
  width: calc(
    33.33% - 20px
  ); 
  margin: 10px; 
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}


.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}


.movie-card img {
  width: 100%;
  height: auto;
}


.movie-card p {
  font-size: 14px;
  margin: 0;
  color: white;
}

header img {
  position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    padding: 0;
}
h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}
.movie-card p {
  font-size: 20px; 
  font-family: "PT Serif", serif;
  margin: 0;
}

body {
  background-image: url("../images/movie-detail-bg.png");
  background-size: inherit;
}
header img {
  position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    padding: 0;
}
.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
}
#barra-busqueda {
  height: 30px;
  width: 90%;
  margin-right: 10px;
}
.menu-left {
  display: flex;
  align-items: center;
}
input[type="text"] {
  height: 40px; /* Ajusta este valor según tu preferencia */
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.back-button:hover{
  cursor: pointer;
}
.search-button:hover{
  cursor: pointer;
}

